body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(240, 41, 41);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgb(218, 37, 37);

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        &.menu-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 15px;
            justify-content: center;

            li {
                font-size: 16px;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                a {
                    margin-left: 15px;
                    text-decoration: none;
                    font-weight: 500;
                    color: rgb(255, 255, 255);
                    font-size: 1.4rem;
                    display: inline-block;
                }

                a:hover {
                    color: rgb(253, 183, 90);
                }
            }
        }

        &.logo-wrap {
            img {
                height: 80px;
            }
        }
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - 100px);
    justify-content: space-around;

    .left {
        margin: 80px;
        margin-top: 0px;
        h1{
            font-family: 'Pacifico', sans-serif;
            font-size: 60px;
            margin: 0px;
            color: white;
        }

        p {
            font-size: 24px;
            margin-left: 20px;
            color: wheat;
        }

        #countdown {
            font-family: 'Graduate', cursive;
            display: inline;
            font-size: 60px;
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 15px;
        }
    }

    .right {
        width: 600px;
        height: 600px;

        img {
            width: 600px;
        }

        #leaves {
            position: absolute;
            z-index: 3;
        }

        #pizza-img {
            position: absolute;
            z-index: 2;
        }

        #veg {
            position: absolute;
            z-index: 1;
        }
    }
}

.popular-pizzas-wrap {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1320px;

    .pizzas {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        align-content: space-around;
        justify-content: space-between;
    }

    .pizza {
        width: 100%;
        background-color: black;
        color: aliceblue;
        margin: 5px;
        padding: 15px;
        display: inline;
        border-radius: 15px;

        img {
            width: 100%;
            max-width: 300px;
            object-fit: cover;
        }
    }
}

